nav {
    width: 95vw;
    height: 100%;
    display: flex;
    padding: 8px;
    align-items: center;
}

.logo {
    height: 96px;
    margin-left: 16px;
}

.navbar ul li {
    display: block;
    font-size: 5rem;
}

.navbar ul li a{
    display: block;
    font-size: 2.4rem;
}

.log-in {
    margin-right: 16px;
    width: 100px;
    font-size: 2rem;
    height: 60px;
}

.log-in:hover {
    color: black;
    border: 2px solid black;
    border-radius: 20px;
}

.gallery {
    height: 650px;
}

.swiper-slide div {
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    left: 65%;
    z-index: 99;
    width: 35%;
    height: 100%;
    max-height: none;
}

.swiper-slide img {
    width: 65%;
    height: 100%;
}

.swiper-slide div p:nth-child(1){
    font-size: 3.5rem;
}

.swiper-slide div p:nth-child(2){
    font-size: 2.5rem;
}

.countable-services {
    padding: 16px 16px 16px 64px;
}

.countable-title {
    font-size: 5rem;
}

.countable-body {
    font-size: 4rem;
}

.countable-subtitle {
    font-size: 4.5rem;
}

.services {
    font-size: 4.5rem;
}

.services-body {
    font-size: 3.5rem;
}

.companies {
    margin-top: 32px;
    margin-bottom: 32px;
}

.companies h1 {
    margin-top: 16px;
    font-size: 6rem;
}

.all-companies {
    margin-top: 48px;
}

.companies figure img {
    height: 300px;
    width: 480px;
    object-fit: contain;
    overflow: hidden;
}

.contact {
    width: 100%;
    background-color: white;
    font-size: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.contact p {
    margin-top: 8px;
}

.contact-icons {
    display: flex;
    padding: 24px;
}

.contact-icons a {
    transition: scale 0.5s;
}

.contact-icons a figure img {
    height: 100px;
    margin: 0 48px 0 48px;
}

.contact a:hover {
    scale: 1.1;
}

.box {
    font-size: 3rem;
}

.title-input {
    height: 40px;
    font-size: 2rem;
}

.body-input {
    height: 240px;
    font-size: 2rem;
}

.form-element {
    width: 300px;
    height: 300px;
}

.send-mail {
    z-index: 999;
    width: 60vw;
    right: 20%;
    top: 120%;
    height: 700px;
}

.email-input {
    height: 375px;
}

.capacitations-mail {
    top: 10% !important;
}

/* .prox {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.prox h1 {
    font-size: 7.5rem;
}

.prox p {
    font-size: 6.5rem;
}