<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Diego Musso - Estudio Integral</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/desktop.css" media="screen and (min-width: 1000px)">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>

</head>
<body>
    <div class="everything">
        <nav>
            <img src="/assets/logos/dm-white.png" alt="logo" class="logo">
    
            <div class="navbar">
    
                <ul>
                    <li class="about-us">
                        <a href="#departments">
                            <p>Áreas</p>
                            <div class="underline"></div>
                        </a>
                    </li>
                    <li class="our-valors">
                        <a href="#team">
                            <p>Nuestro equipo</p>
                            <div class="underline"></div>
                        </a>
                    </li>
                    <li class="contact-us">
                        <a href="#contact" >
                            <p>Contacto</p>
                            <div class="underline"></div>
                        </a>
                    </li>
                </ul>
                {{#if user}}
                <a href="./logout" class="log-in">
                    <p>Salir</p>
                </a>
                {{else}}
                    <a href="./login" class="log-in">
                        <p>Log In</p>
                    </a>
                {{/if}}
            </div>
        </nav>
        <main>
            {{!-- <figure class="dm-main">
                <img src="assets/logos/dm-main.png" alt="">
            </figure> --}}
            <div class="main-presentation">
                <p class="p1">
                    DIEGO MUSSO
                </p>
                <div class="dm-underline"></div>
                <p class="p2">
                    Estudio Integral
                </p>
            </div>
            <div class="department-all" data-aos="fade-up" data-aos-duration="1000" id="departments">
                <div class="departments">
                    <div class="department-p">
                        <p>
                            Explora nuestros
                        </p>
                        <p>
                            Servicios
                        </p>
                    </div>
                    <a href="./countable" class="department-btn">
                        <figure>
                            <img src="/assets/icons/accounting.png" alt="accounting icon">
                        </figure>
                        <p>
                            Contable
                        </p>
                    </a>
                    <a href="" class="department-btn">
                        <figure>
                            <img src="/assets/icons/book.png" alt="book icon">
                        </figure>
                        <p>
                            Capacitaciones
                        </p>
                    </a>
                    <a href="./insurance" class="department-btn">
                        <figure>
                            <img src="/assets/icons/insurance.png" alt="insurance icon">
                        </figure>
                        <p>
                            Seguros
                        </p>
                    </a>
                </div>
                <div class="department-photos">
                    <figure>
                        <img src="/assets/images/department-img-1.png" alt="office image" class="department-photo-1">
                    </figure>
                    <figure>
                        <img src="/assets/images/department-img-2.png" alt="office image" class="department-photo-2">
                    </figure>
                    <figure>
                        <img src="/assets/images/department-img-2.png" alt="office image" class="department-photo-3">
                    </figure>
                </div>
            </div>
            
            <div class="team" data-aos="fade-up" data-aos-duration="1000" id="team">
                <div class="team-intro">
                    <p class="our-team">Nuestro Equipo</p>
                    <p class="team-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem culpa aspernatur ipsam modi ipsa sint quis? Incidunt vitae quia minus molestiae, dolores esse quas ipsa facere, architecto qui unde cumque.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi error eos maiores aut placeat minima aliquam ab, eaque repellendus at mollitia aperiam pariatur voluptate, enim, corporis facere rerum. Minima, natus.
                    </p>
                </div>

                <div class="gallery">
                    <div class="swiper">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <img src="/assets/images/dm-team-cut.png" alt="">
                                {{!-- <div class="antonela">
                                    <p>
                                        Antonela
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A deserunt porro voluptatem excepturi asperiores quis cupiditate tempora molestias velit eaque! Aliquam eum quibusdam nobis aut? Iure ipsam et esse dolorum.
                                    </p>
                                </div> --}}
                            </div>

                            <div class="swiper-slide">
                                <img src="/assets/images/diego.jpg" alt="">
                                <div class="diego">
                                    <p>
                                        Diego
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A deserunt porro voluptatem excepturi asperiores quis cupiditate tempora molestias velit eaque! Aliquam eum quibusdam nobis aut? Iure ipsam et esse dolorum.
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <img src="/assets/images/antonela.jpg" alt="">
                                <div class="antonela">
                                    <p>
                                        Antonela
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A deserunt porro voluptatem excepturi asperiores quis cupiditate tempora molestias velit eaque! Aliquam eum quibusdam nobis aut? Iure ipsam et esse dolorum.
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <img src="/assets/images/santiago.jpg" alt="">
                                <div class="santi">
                                    <p>
                                        Santiago
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A deserunt porro voluptatem excepturi asperiores quis cupiditate tempora molestias velit eaque! Aliquam eum quibusdam nobis aut? Iure ipsam et esse dolorum.
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <img src="/assets/images/laila.jpg" alt="">
                                <div class="laila">
                                    <p>
                                        Laila
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A deserunt porro voluptatem excepturi asperiores quis cupiditate tempora molestias velit eaque! Aliquam eum quibusdam nobis aut? Iure ipsam et esse dolorum.
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <img src="/assets/images/agustina.jpg" alt="">
                                <div class="laila">
                                    <p>
                                        Agustina
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A deserunt porro voluptatem excepturi asperiores quis cupiditate tempora molestias velit eaque! Aliquam eum quibusdam nobis aut? Iure ipsam et esse dolorum.
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <img src="/assets/images/ulises.jpg" alt="">
                                <div class="laila">
                                    <p>
                                        Ulises
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A deserunt porro voluptatem excepturi asperiores quis cupiditate tempora molestias velit eaque! Aliquam eum quibusdam nobis aut? Iure ipsam et esse dolorum.
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <img src="/assets/images/rodrigo.jpg" alt="">
                                <div class="laila">
                                    <p>
                                        Rodrigo
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A deserunt porro voluptatem excepturi asperiores quis cupiditate tempora molestias velit eaque! Aliquam eum quibusdam nobis aut? Iure ipsam et esse dolorum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                      
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                      </div>
                </div>
            </div>

            <div class="scope">
                <div class="sum" data-aos="fade-right" data-aos-duration="2000" data-aos-easing="linear">
                    <figure>
                        <img src="/assets/icons/plus-alt5.png" alt="plus icon">
                    </figure>
                </div>
                <div class="customers" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="linear">
                    <p>
                        100 clientes eligieron nuestro estudio contable.
                    </p>
                    <p>
                        50 alumnos se formaron con nuestras capacitaciones.
                    </p>
                    <p>
                        100 asegurados confiaron en nosotros.
                    </p>
                </div>
            </div>

            <div class="sustentable">
                <div class="sustentable-text">
                    <div class="sustentable-text-title">
                        <h1>Somos sustentables!</h1>
                        <img src="/assets/icons/solar-panel.png" alt="">
                    </div>
                    <div class="sustentable-text-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur necessitatibus non, commodi id ducimus eaque quaerat, expedita totam debitis quod qui suscipit laborum repudiandae, soluta autem fugit! Beatae, quis quaerat.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa illo veritatis ex consequatur corporis veniam quos? Voluptatibus, distinctio deleniti corporis rerum nostrum soluta quasi. Voluptatibus, nemo. Eligendi, temporibus recusandae? At!
                    </div>
                </div>

                <div class="solar-panel-img">
                    <figure>
                        <img src="/assets/images/solarpanel.png" alt="">
                    </figure>
                </div>
            </div>
                       
            <div class="contact" id="contact">
                <h2 class="h2">Contactanos</h2>
                <div>
                    <a href="https://instagram.com/diegomusso_estudiointegral?igshid=MzRlODBiNWFlZA==">
                        <figure>
                            <img src="/assets/icons/instagram.png" alt="instagram icon">
                        </figure>
                    </a>
                    <a href="https://www.facebook.com/DiegoMussoEstudioIntegral?paipv=0&eav=AfboAkZspAikNCdoq8muOw-sGlAyULUndRsM13-lLqmObRSkEwCYadJYrdM-Wgo9sbo&_rdr">
                        <figure>
                            <img src="/assets/icons/facebook.png" alt="behance icon">
                        </figure>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=0543472520261">
                        <figure>
                            <img src="/assets/icons/whatsapp.png" alt="github icon">
                        </figure>
                    </a>
                    <a id="emailButton">
                        <figure>
                            <img src="/assets/icons/email.png" alt="mail icon">
                        </figure>
                    </a>
                </div>
            </div>

            <div class="send-mail" id="sendMail">
                <form method="POST" action="https://formsubmit.co/administracion@diegomusso.com.ar" class="data-upload">
                    <figure class="close-window" id="closeEmailWindow">
                        <img src="../assets/icons/cancel.png" alt="" class="close-window">
                    </figure>
                    <div class="box">
                        <label>Nombre</label>
                        <input type="text" name="name" required="" id="emailName" style="font-family: inherit;" class="title-input">
                    </div>

                    <div class="box">
                        <label>Email</label>
                        <input type="email" name="email" required="" id="emailOwner" style="font-family: inherit;" class="title-input">
                    </div>

                    <div class="box">
                        <label>Mensaje</label>
                        {{!-- <input type="text" name="body" required="" id="newBody" style="font-family: inherit;" class="title-input"> --}}
                        <textarea type="text" rows="1" cols="26" name="emailBody" class="email-input" style="font-family: inherit;"></textarea>
                    </div>
                    
                    <div class="data-submit">
                        <input type="hidden" name="crumb" value={{crumb}} />
                        <button type="submit" class="data-submit-button" style="font-family: inherit;">Enviar</button>
                    </div>
                </form>
            </div>
        </main>
        <footer class="footer">
            <p>
                ©Copyright. All rights reserved.                 
            </p>
            <p>
                Mail: administracion@diegomusso.com.ar
            </p>
            <p>
                Tel: 3472520261
            </p>
        </footer>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>
        const swiper = new Swiper('.swiper', {
        speed: 1000,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
            pauseOnMouseEnter: true
        },
        loop: true,

        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        });
    </script>

    <script>
        let sendEmail = document.getElementById('sendMail');
        let closeEmail = document.getElementById('closeEmailWindow');
        let emailBttn = document.getElementById('emailButton');

        closeEmail.addEventListener('click', e => {

                return sendEmail.style.display = 'none'

        });

        emailBttn.addEventListener('click', e => {

                return sendEmail.style.display = 'flex'

        });

    </script>
</body>
</html>