<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Diego Musso - Seguros</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/countable.css">
    <link rel="stylesheet" href="/assets/css/countable-desktop.css" media="screen and (min-width: 1000px)">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
</head>
<body>
    <nav>
        <img src="/assets/logos/dm-white.png" alt="logo" class="logo">

        <div class="navbar">

            <ul>
                <li>
                    <a href="./index.html">
                        <p>Home</p>
                        <div class="underline"></div>
                    </a>
                </li>
            </ul>

            {{#if user}}
                <a href="./logout" class="log-in">
                    <p>Salir</p>
                </a>
            {{else}}
                <a href="./login" class="log-in">
                    <p>Log In</p>
                </a>
            {{/if}}
        </div>
    </nav>
    

    <div class="countable-services insurance">
        <p class="countable-title">
            ÁREA SEGUROS
        </p>
        <p class="countable-body">
            Algunos diccionarios definen la palabra  'seguro' como algo libre y exento de riesgo, algo bien sujeto, que no falla, que ofrece confianza, libre de todo peligro. Todo eso queremos que sientas a la hora de elegirnos como tus asesores de seguros. <br>
            Darte seguridad y tranquilidad es nuestro mayor compromiso. Conocé las diferentes compañías con las que trabajamos y los seguros que tenemos para ofrecerte.
        </p>
        <p class="countable-subtitle">
            Productos
        </p>
        <div class="services">
            <p id="societies">
                -Seguros de agro
            </p>
            {{!-- <span class="services-body" id="societies-body">
                • Constitución de sociedades <br />
                • Asesoramiento en materia societaria
            </span> --}}
            <p id="taxation">
                -Seguros de caución
            </p>
            {{!-- <span class="services-body" id="taxation-body">
                • Liquidación de impuestos <br />
                • Asesoramiento en materia impositiva <br />
                • Planificación impositiva para la toma de decisiones <br />
                • Exenciones impositivas <br />
                • Monotributo
            </span> --}}
            <p id="work">
                -Seguros para autos, motos y bicicletas
            </p>
            {{!-- <span class="services-body" id="work-body">
                • Liquidaciones de impuestos, cargas sociales <br />
                • Asesoramiento integral en materia laboral <br />
                • Trámites en el Ministerio de Trabajo
            </span> --}}
            <p id="countable">
                -Seguros de accidentes personales
            </p>
            {{!-- <span class="services-body" id="countable-body">
                • Implementación de sistemas informáticos contables <br />
                • Asesoramiento contable integral <br />
                •  Auditorías de estados contables <br />
                • Reportes contables para la toma de decisiones
            </span> --}}
            <p id="finantial">
                -Seguros para tu hogar y/o comercio
            </p>
            {{!-- <span class="services-body" id="finantial-body">
                • Estados financieros, flujo de fondos para análisis crediticio por entidades financieras <br />
                • Asesoramiento financiero
            </span> --}}
            <p id="finantial">
                -Seguros de responsabilidad civil profesional y mala praxis
            </p>

            <p id="finantial">
                -ART
            </p>            
        </div>
    </div>

    <div class="companies">
        <h1>
            Empresas con las que trabajamos
        </h1>

        <div class="all-companies">
            <figure>
                <img src="../assets/logos/sancor-seguros.png" alt="" class="company-logo">
            </figure>

            <figure>
                <img src="../assets/logos/rivadavia.png" alt="" class="company-logo">
            </figure>

            <figure>
                <img src="../assets/logos/allianz.png" alt="" class="company-logo">
            </figure>

            <figure>
                <img src="../assets/logos/rio-uruguay.jpg" alt="" class="company-logo">
            </figure>

            <figure>
                <img src="../assets/logos/swiss-medical.jpg" alt="" class="company-logo">
            </figure>

            <figure>
                <img src="../assets/logos/prevencion-art.jpg" alt="" class="company-logo">
            </figure>

            <figure>
                <img src="../assets/logos/integrity.png" alt="" class="company-logo">
            </figure>

            <figure>
                <img src="../assets/logos/federacion-patronal.png" alt="" class="company-logo">
            </figure>            
        </div>
    </div>

    <div class="contact">
        <p>
            Contactate con el área
        </p>
        <div class="contact-icons">
            <a href="https://api.whatsapp.com/send?phone=0543472520261">
                <figure>
                    <img src="assets/icons/whatsapp.png" alt="github icon">
                </figure>
            </a>
            <a id="emailButton">
                <figure>
                    <img src="assets/icons/email.png" alt="mail icon">
                </figure>
            </a>
        </div>
    </div>

    
    <div class="send-mail insurance-mail" id="sendMail">
        <form method="POST" action="https://formsubmit.co/seguros@diegomusso.com.ar" class="data-upload">
            <figure class="close-window" id="closeEmailWindow">
                <img src="../assets/icons/cancel.png" alt="" class="close-window">
            </figure>
            <div class="box">
                <label>Nombre</label>
                <input type="text" name="name" required="" id="emailName" style="font-family: inherit;" class="title-input">
            </div>

            <div class="box">
                <label>Email</label>
                <input type="email" name="email" required="" id="emailOwner" style="font-family: inherit;" class="title-input">
            </div>

            <div class="box">
                <label>Mensaje</label>
                {{!-- <input type="text" name="body" required="" id="newBody" style="font-family: inherit;" class="title-input"> --}}
                <textarea type="text" rows="1" cols="26" name="emailBody" class="email-input" style="font-family: inherit;"></textarea>
            </div>
            
            <div class="data-submit">
                <input type="hidden" name="crumb" value={{crumb}} />
                <button type="submit" class="data-submit-button" style="font-family: inherit;">Enviar</button>
            </div>
        </form>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>
        const swiper = new Swiper('.swiper', {
        speed: 1000,
        autoplay: {
            delay: 4000,
            disableOnInteraction: false,
            pauseOnMouseEnter: true
        },
        loop: true,

        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        });
    </script>
    <script>
        let newOne = document.getElementById('new1');
        let newOneTitle = document.getElementById('new1Title');
        let newTwo = document.getElementById('new2');
        let newTwoTitle = document.getElementById('new2Title');
        let newThree = document.getElementById('new3');
        let newThreeTitle = document.getElementById('new3Title');
        let newFour = document.getElementById('new4');
        let newFourTitle = document.getElementById('new4Title');
        let newFive = document.getElementById('new5');
        let newFiveTitle = document.getElementById('new5Title');

        document.addEventListener("DOMContentLoaded", (e) => {
            if (newOneTitle.innerHTML == false) {
                newOne.style.display = 'none';
            }
            
            if (newTwoTitle.innerHTML == false) {
                newTwo.style.display = 'none';
            }

            if (newThreeTitle.innerHTML == false) {
                newThree.style.display = 'none';
            }

            if (newFourTitle.innerHTML == false) {
                newFour.style.display = 'none';
            }

            if (newFiveTitle.innerHTML == false) {
                newFive.style.display = 'none';
            }
        })
    </script>
    <script>
        let soc = document.getElementById('societies');
        let tax = document.getElementById('taxation');
        let work = document.getElementById('work');
        let countable = document.getElementById('countable');
        let finantial = document.getElementById('finantial');
        let socBody = document.getElementById('societies-body');
        let taxBody = document.getElementById('taxation-body');
        let workBody = document.getElementById('work-body');
        let countableBody = document.getElementById('countable-body');
        let finantialBody = document.getElementById('finantial-body');
        let socDisplay = 0;
        let taxDisplay = 0;
        let workDisplay = 0;
        let countableDisplay = 0;
        let finantialDisplay = 0;

        soc.addEventListener("click", (e) => {
            console.log(e)
            if(socDisplay == 0) {
                socBody.style.display = 'block';
                socDisplay = 1;
            }

            else {
                socBody.style.display = 'none';
                socDisplay = 0;
            }
        })

        tax.addEventListener("click", (e) => {
            if(taxDisplay == 0) {
                taxBody.style.display = 'block';
                taxDisplay = 1;
            }

            else {
                taxBody.style.display = 'none';
                taxDisplay = 0;
            }
        })

        work.addEventListener("click", (e) => {
            if(workDisplay == 0) {
                workBody.style.display = 'block';
                workDisplay = 1;
            }

            else {
                workBody.style.display = 'none';
                workDisplay = 0;
            }
        })

        countable.addEventListener("click", (e) => {
            if(countableDisplay == 0) {
                countableBody.style.display = 'block';
                countableDisplay = 1;
            }

            else {
                countableBody.style.display = 'none';
                countableDisplay = 0;
            }
        })

        finantial.addEventListener("click", (e) => {
            if(finantialDisplay == 0) {
                finantialBody.style.display = 'block';
                finantialDisplay = 1;
            }

            else {
                finantialBody.style.display = 'none';
                finantialDisplay = 0;
            }
        })

    </script>

    <script>
        let sendEmail = document.getElementById('sendMail');
        let closeEmail = document.getElementById('closeEmailWindow');
        let emailBttn = document.getElementById('emailButton');

        closeEmail.addEventListener('click', e => {

                return sendEmail.style.display = 'none'

        });

        emailBttn.addEventListener('click', e => {

                return sendEmail.style.display = 'flex'

        });

    </script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>


</body>
</html>